@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/category.css" />

<div class="category-container">
    <div class="category-grid">

        <a href="/Home/CategoryBooks?category=Education" class="category-card">
            <img src="~/images/education_categoryy.png" alt="Education" />
            <p>EDUCATION</p>
        </a>

        <a href="/Home/CategoryBooks?category=Kids" class="category-card">
            <img src="~/images/kids_category.png" alt="Kids" />
            <p>KIDS</p>
        </a>

        <a href="/Home/CategoryBooks?category=Poetry" class="category-card">
            <img src="~/images/poetry_category.png" alt="Poetry" />
            <p>POETRY</p>
        </a>

        <a href="/Home/CategoryBooks?category=Fiction" class="category-card">
            <img src="~/images/fiction_category.png" alt="Fiction" />
            <p>FICTION</p>
        </a>

        <a href="/Home/CategoryBooks?category=Religion" class="category-card">
            <img src="~/images/religion_category.png" alt="Religion" />
            <p>RELIGION</p>
        </a>

        <a href="/Home/CategoryBooks?category=Motivation" class="category-card">
            <img src="~/images/motivation_category.png" alt="Motivation" />
            <p>MOTIVATION</p>
        </a>

    </div>
</div>
