@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/category.css" />

<div class="category-container">
    <div class="category-grid">

        <a href="#" class="category-card">
            <img src="~/images/education_categoryy.png" />
            <p>EDUCATION</p>
        </a>

        <a href="#" class="category-card">
            <img src="~/images/kids_category.png" />
            <p>KIDS</p>
        </a>

        <a href="#" class="category-card">
            <img src="~/images/poetry_category.png" />
            <p>POETRY</p>
        </a>

        <a href="#" class="category-card">
            <img src="~/images/fiction_category.png" />
            <p>FICTION</p>
        </a>

        <a href="#" class="category-card">
            <img src="~/images/religion_category.png" />
            <p>RELIGION</p>
        </a>

        <a href="#" class="category-card">
            <img src="~/images/motivation_category.png" />
            <p>MOTIVATION</p>
        </a>

    </div>
</div>